{% extends 'layout.html' %}

{% block title %} Hello.Flask {% endblock %}

{% block body %}

<div class="title" style="text-align: center; margin: 10px;">
    Crie sua conta preenchendo o formulário abaixo
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification {{ widget_class }}" id="notification">
        {{ messages[0] }}. Go to <a href="{{ url_for('home.index') }}">Home</a>.
    </div>
{% endif %}
{% endwith %}

<form class="box" method="POST">
    <div class="field">
      <label class="label">Nome</label>
      <div class="control">
        <input name="inp_name" class="input" type="text" required placeholder="Seu nome">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input name="inp_email" class="input" type="email" required placeholder="seu_email@dominio.com">
      </div>
    </div>

    <button class="button is-primary">Criar</button>
</form>

{% endblock%}